.align {
  text-align: center;
}
.first {
  background-color: #1f2937;
  padding: 18px;
  height: auto;
}
h1 {
  font-size: 24px;
  color: #f9faf8;
}
.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
}
.catalog {
  font-size: 48px;
  color: #f9faf8;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left: 500px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
ul {
  list-style-type: none;
}
.firstimg {
  width: 350px;
  height: 150px;
  margin-inline-end: auto;
}
.section1 {
  display: flex;
  width: 850px;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.head {
  display: flex;
  padding: 15px;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.text {
  color: #f9faf8;
}
button {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  border-color: #1f2937;
}

img {
  width: 250px;
  height: 150px;
}
.Second {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  gap: 90px;
  height: 400px;
  text-align: center;
}
.Third {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  height: 300px;
}
.Fourth {
  background-color: #3882f6;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 50px;
  border-radius: 8px;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.Fourth1 {
  display: flex;
  flex-direction: column;
  color: white;
}
.button2 {
  border-color: white;
}

h4 {
  font-size: 36px;
  font-weight: 700;
  color: white;
}
.Footer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
}
